alabaster==0.7.7
amqp==1.4.6
anyjson==0.3.3
astroid==1.3.6
autopep8==1.1.1
Babel==2.2.0
babelfish==0.5.4
BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
billiard==3.3.0.20
binaryornot==0.3.0
blockdiag==1.5.3
celery==3.1.18
cffi==1.5.2
chardet==2.3.0
click==3.3
colorama==0.3.3
cookiecutter==1.0.0
coverage==3.7.1
cryptography==1.2.2
cssselect==0.9.1
dashboardmods==1.0
diff-match-patch==20121119
Django==1.11.23
django-admin-bootstrapped==2.5.2
django-admin-easy==0.2.2.1
django-admin-tools==0.5.2
django-admin-tools-stats==0.6.1
django-admin-user-stats==0.2
django-admirarchy==0.2.0
django-allauth==0.21.0
django-any-urlfield==2.1.1
django-appconf==1.0.1
django-braces==1.8.0
django-cache-utils==0.7.2
django-celery==3.1.16
django-chart-tools==1.0
django-crispy-forms==1.4.0
django-debug-toolbar==1.3.0
django-dynamic-scraper==0.5.2
django-extensions==1.5.5
django-filer==0.9.11
django-filter==0.10.0
django-fluent-dashboard==0.5
django-frontend==1.6.1
django-frontend-skeleton==3.0.0
django-fsm==2.2.1
django-fsm-admin==1.2.1
django-fsm-log==1.2.0
django-guardian==1.3
django-import-export==0.2.7
django-jinja==1.4.1
django-jsonfield==0.9.13
django-location-field==1.5.2
django-model-report==0.2.1
django-mptt==0.7.4
django-mptt-admin==0.2.1
django-nvd3==0.8.2
django-polymorphic==0.7.1
django-polymorphic-tree==1.1
django-qsstats-magic==0.7.2
django-querycount==0.3.0
django-rest-swagger==0.3.2
django-reversion==1.8.7
Django-Select2==4.3.1
django-silk==0.5.5
django-sql-explorer==0.7
django-suit==0.2.13
django-suit-ckeditor==0.0.2
django-suit-redactor==0.0.2
django-tag-parser==2.1
django-taggit==0.14.0
django-twitter-bootstrap==3.3.0
django-vanilla-views==1.0.4
djangorestframework==3.1.3
docutils==0.12
easy-thumbnails==2.2
ecdsa==0.13
Embedly==0.5.0
enum34==1.1.2
Fabric==1.10.2
funcparserlib==0.3.6
future==0.15.2
gitdb==0.6.4
github3.py==0.9.5
GitPython==1.0.1
google-api-python-client==1.4.1
graphviz==0.4.10
gspread==0.3.0
guessit==0.10.3
hachoir-core==1.3.3
hachoir-metadata==1.3.3
hachoir-parser==1.3.4
hieroglyph==0.7.1
html5lib==0.99999
httplib2==0.9.2
idna==2.0
ipaddress==1.0.16
ipython==3.2.0
javalang==0.9.6
javasphinx==0.9.12
Jinja2==2.8
kombu==3.0.26
logilab-common==0.63.2
lxml==3.4.4
Markdown==2.6.2
MarkupSafe==0.23
mock==1.0.1
ndg-httpsclient==0.4.0
nltk==3.0.3
nose==1.3.7
oauth2client==1.5.2
oauthlib==0.7.2
paramiko==1.15.2
Pattern==2.6
pbr==1.2.0
pdfminer==20140328
pep8==1.6.2
pep8-naming==0.3.2
Pillow==3.1.1
ply==3.8
py==1.4.30
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pycrypto==2.6.1
pydot==1.0.2
PyDrive==1.0.1
pyenchant==1.6.6
PyGithub==1.26.0
Pygments==2.1.1
pylint==1.4.3
PyMySQL==0.6.6
pyOpenSSL==0.15.1
pyparsing==2.0.3
PyPDF2==1.24
pyreadline==2.0
pytest==2.7.2
pytest-django==2.8.0
python-dateutil==2.4.2
python-memcached==1.54
python-nvd3==0.13.7
python-openid==2.2.5
python-slugify==0.0.9
pytz==2015.7
PyYAML==3.11
qubic.sphinx.graphvizinclude==0.1
queuelib==1.2.2
releases==1.0.0
reportlab==3.2.0
requests==2.9.1
requests-oauthlib==0.5.0
rsa==3.3
rusty==0.3.1
sadisplay==0.4.2
schema2rst==0.9.0
Scrapy==1.0.0
selenium==2.46.0
seqdiag==0.9.5
simplejson==3.7.3
six==1.10.0
smmap==0.9.0
snowballstemmer==1.2.1
Sphinx==1.3.5
sphinx-classy-code==0.1
sphinx-git==9
sphinx-paramlinks==0.3.1
sphinx-pyreverse==0.0.12
sphinx-rtd-theme==0.1.9
sphinx-testing==0.7.1
sphinxcontrib-autoanysrc==0.0.3.post20141120
sphinxcontrib-autojs==0.1.dev20110917
sphinxcontrib-autoprogram==0.1.2
sphinxcontrib-autorun==0.1.post20140415
sphinxcontrib-css3image==0.1.dev20140921
sphinxcontrib-domaintools==0.1
sphinxcontrib-embedly==0.2
sphinxcontrib-exceltable==0.2.2
sphinxcontrib-gen-node==0.1.post20131031
sphinxcontrib-getthecode==0.1.dev20140921
sphinxcontrib-github==0.1.3
sphinxcontrib-googlechart==0.2.1
sphinxcontrib-googlemaps==0.1.0
sphinxcontrib-httpdomain==1.4.0
sphinxcontrib-images==0.7.0
sphinxcontrib-jinjadomain==0.5.1
sphinxcontrib-jsdemo==0.1.4
sphinxcontrib-jsoncall==0.3
sphinxcontrib-makedomain==0.1.1
sphinxcontrib-phpdomain==0.1.4
sphinxcontrib-plantuml==0.6
sphinxcontrib-programoutput==0.8
sphinxcontrib-requirements==0.1.dev20110502
sphinxcontrib-restbuilder==0.1
sphinxcontrib-sadisplay==0.3.2.dev20130518
sphinxcontrib-seqdiag==0.8.5
sphinxcontrib-slide==0.3.0
sphinxcontrib-spelling==2.1.2
sphinxcontrib-sqltable==1.0
sphinxcontrib-swf==0.3
sphinxcontrib-taglist==0.2
sphinxcontrib-traceables==0.1.2
sphinxcontrib-yuml==0.3.1
sphinxcontrib.twitter==0.4.0
sphinxcontrib.youtube==0.1.2
SQLAlchemy==1.0.12
SQLAlchemy-Utils==0.31.4
sqlparse==0.1.11
stevedore==1.5.0
tablib==0.10.0
tk.phpautodoc==1.2.1
tvdb-api==1.10
Twisted==15.2.1
unicodecsv==0.14.1
Unidecode==0.4.18
uritemplate==0.6
uritemplate.py==0.3.0
w3lib==1.11.0
webcolors==1.5
wheel==0.24.0
xhtml2pdf==0.0.6
xlrd==0.9.4
xlwt==0.7.4
zope.interface==4.1.2
