BeautifulSoup==3.2.1
Django==1.6.6
Django-Select2==4.2.2
Fabric==1.10.0
Jinja2==2.7.3
Markdown==2.5
MarkupSafe==0.23
Pillow==2.5.3
PyDrive==1.0.1
PyGithub==1.25.0
PyPDF2==1.23
PyYAML==3.11
Pygments==1.6
Scrapy==0.24.4
South==1.0
Sphinx==1.2.3
Twisted==14.0.0
Unidecode==0.04.16
Whoosh==2.6.0
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.18
binaryornot==0.3.0
celery==3.1.15
cffi==0.8.6
characteristic==14.1.0
cookiecutter==0.7.2
cryptography==0.5.4
cssselect==0.9.1
diff-match-patch==20121119
django-admirarchy==0.2.0
django-ajax-search==1.5.1
django-ajax-selects==1.3.5
django-any-urlfield==2.0.1
django-appconf==0.6
django-apptemplates==0.0.1
django-autoslug==1.7.2
django-avatar==2.0
django-bento==1.0.1
django-braces==1.4.0
django-celery==3.1.15
django-chart-tools==1.0
django-chartit==0.1
django-cities-light==2.4.2
django-ckeditor-updated==4.4.4
django-classy-tags==0.5.1
django-countries==2.1.2
django-crispy-forms==1.4.0
django-cropduster==4.6.4
django-custard==0.7
django-custom-field==2.2
django-debug-toolbar==1.2.1
django-dynamic-scraper==0.3.7
django-easy-maps==0.9
django-email-extras==0.3
django-embed-video==0.11
django-enumfield==1.1.1
django-extensions==1.4.0
django-eztables==0.3.2
django-filebrowser==3.5.7
django-filter==0.7
django-fluent-contents==0.9
django-forms-builder==0.11.1
django-fsm==2.2.0
django-fsm-admin==1.1.0
django-fsm-log==1.0.0
django-gcharts==1.3
django-generic-plus==1.1.0
django-graphos==0.0.2a0
django-grappelli==2.5.4
django-grappelli-extensions==0.1.3
django-grappelli-navbar==0.3.0
django-guardian==1.2.4
django-haystack==2.2.1
django-import-export==0.2.3
django-jinja==1.0.4
django-jsonfield==0.9.13
django-leaflet==0.14.1
django-linguo==1.3.3
django-location-field==1.3.2
django-mailer==0.1.0
django-markdown==0.6.1
django-markupfield==1.2.1
django-model-report==0.2.1
django-model-utils==2.2
django-modeltranslation==0.7.3
django-moderation==0.3.6
django-mptt==0.6.1
django-mptt-admin==0.1.9
django-notification==1.2.0
django-parler==1.0
django-permissionsx==1.3.3
django-photologue==3.0.1
django-picklefield==0.3.1
django-polymorphic==0.5.6
django-polymorphic-tree==0.9
django-ratings==0.3.7
django-reportmail==1.2.3
django-rest-swagger==0.1.14
django-reversion==1.8.4
django-simple-captcha==0.4.2
django-simple-menu==1.0.9
django-sitetree==1.1.0
django-smarter==1.1
django-smuggler==0.5.0
django-solo==1.0.5
django-sortedm2m==0.8.0
django-sql-explorer==0.5.1
django-stored-messages==1.0.2
django-tables2==0.15.0
django-tag-parser==1.1.0
django-tagging==0.3.2
django-taggit==0.12.1
django-tastypie==0.12.0
django-template-analyzer==1.3
django-tooltips==1.1.5
django-treebeard==2.0
django-treemenus==0.9.1
django-userena==1.3.0
django-vanilla-views==1.0.3
django-watson==1.1.3
django-wkhtmltopdf==2.0.2
django-wysihtml5==1.2b3
django-wysiwyg-redactor==0.3.9.1
django.js==0.8.1
djangorestframework==2.4.2
docutils==0.12
drf-extensions==0.2.6
easy-thumbnails==2.1
future==0.9.0
geopy==0.96.0
github3.py==0.9.1
google-api-python-client==1.2
grappelli-side-menu==0.1.3
gspread==0.2.2
html2text==2014.9.8
html5lib==0.999
httplib2==0.9
ipython==2.2.0
kombu==3.0.23
libsaas==0.4
linkedin==0.1.5
lxml==3.4.0
nltk==3.0.0
oauth2==1.5.211
paramiko==1.14.1
ply==3.4
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pydot==1.0.2
pydsl==0.5.0
# pygraphviz==1.2
pyparsing==2.0.2
pyreadline==2.0
python-dateutil==2.2
python-gnupg==0.3.6
python-mimeparse==0.1.4
python-xmp-toolkit==2.0.1
pytz==2014.7
# pywin32==219
queuelib==1.2.2
reportlab==3.1.8
requests==2.4.1
selenium==2.43.0
service-identity==14.0.0
simplejson==3.6.3
six==1.8.0
sorl-thumbnail==11.12
sphinx-me==0.3
sqlparse==0.1.11
stevedore==0.15
tablib==0.10.0
twitter==1.15.0
uritemplate.py==0.3.0
# virtualenv==1.11.6
# virtualenv-clone==0.2.5
# virtualenvwrapper==4.3.1
w3lib==1.10.0
xhtml2pdf==0.0.6
xlwt==0.7.4
zope.interface==4.1.1
